{{>layout/header}}
{{>layout/login}}
<br><br>
<div class="list-group list-group-radio d-grid gap-2 border-0 w-auto">
    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-person-fill"></i>
    </div>
    <br>
    <p><strong>{{email}} &nbsp|&nbsp {{memberName}}</strong></p>
    <p>보유 머니 &nbsp<strong>{{money}}원</strong>&nbsp&nbsp
        <button class="btn btn-outline-dark mt-auto" type="button" id="chargeMoney">충전하기</button>
    </p>
    <br>
    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-cart-plus-fill"></i>
    </div>
    <br>
    {{#orders}}
        <div class="position-relative">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0"
                                           src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                           alt="..."/></div>
                <div class="col-md-5">
                    <strong class="fw-semibold">{{goods.name}}</strong>
                    <span class="d-block small opacity-75">{{goods.price}} 원</span>
                    {{#deliver}}
                        <span class="d-block small opacity-75">배송 날짜 : {{deliverDate}}</span>
                    {{/deliver}}
                    {{^deliver}}
                        <span class="d-block small opacity-75">배송 예상 날짜 : {{deliverDate}}</span>
                    {{/deliver}}
                    <span class="d-block small opacity-75">주문 날짜 : {{createdDate}}</span>
                </div>
                <div class="col-md-3">
                    &nbsp&nbsp&nbsp<a class="btn btn-outline-dark mt-auto" href="/goods/goods_id={{goods.id}}"
                                      style="margin: 0px 0px 10px 0px;">View
                    options</a><br>&nbsp&nbsp&nbsp&nbsp
                    {{#deliver}}
                        <font color="blue"><strong>&nbsp&nbsp&nbsp배송완료</strong></font>
                    {{!<span class="d-block small opacity-75">배송 날짜 : {{modifiedDate}}
                    {{/deliver}}
                    {{^deliver}}
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" name="cancel-orders"
                                id="{{id}}" value="{{id}}">
                            <i class="bi bi-cart-dash-fill"></i>
                            Refund
                        </button>
                    {{/deliver}}
                </div>
            </div>
        </div>
    {{/orders}}
    {{^orders}}
        주문 내역이 없습니다.<br>
    {{/orders}}
    <br><br>
    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-cart-dash-fill"></i>
    </div>
    <br>
    {{#cancelOrders}}
        <div class="position-relative">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0"
                                           src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                           alt="..."/></div>
                <div class="col-md-5">
                    <strong class="fw-semibold">{{goods.name}}</strong>
                    <span class="d-block small opacity-75">{{goods.price}} 원</span>
                    <span class="d-block small opacity-75">취소 날짜 : {{modifiedDate}}</span>
                    <span class="d-block small opacity-75">주문 날짜 : {{createdDate}}</span>
                </div>
                <div class="col-md-3">
                    &nbsp&nbsp&nbsp<a class="btn btn-outline-dark mt-auto" href="/goods/goods_id={{goods.id}}"
                                      style="margin: 0px 0px 10px 0px;">View
                    options</a><br>&nbsp&nbsp&nbsp&nbsp
                    <font color="red"><strong>&nbsp&nbsp&nbsp취소완료</strong></font><br>
                    {{!<span class="d-block small opacity-75">취소 날짜 : {{modifiedDate}}
                </div>
            </div>
        </div>
    {{/cancelOrders}}
    {{^cancelOrders}}
        주문 취소 내역이 없습니다.
    {{/cancelOrders}}
</div>
<br><br>
<input id="member_id" value="{{mid}}" type="hidden">
{{>layout/footer}}